<!-- <p>register works!</p> -->
<h1 align="center">Registration Form</h1>

<form #registerForm="ngForm" (ngSubmit)="studRegister(registerForm.value)" novalidate>
    <table align="center">
        <tr>
            <td>StudName</td>
            <td><input type="text"   name="studName" ngModel required /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" name="age" ngModel /></td>
        </tr>
        <tr>
            <td>Enter gender</td>
            <td><select id="gender" name="gender" ngModel>
                <option value="" selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select></td>

        </tr>
        <tr>
            <td>Date of Birth</td>
            <td> <input type="date" name="dob" ngModel> </td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td><input type="text" name="mobile" #mobile="ngModel" ngModel maxlength="10" minlength="10"
                    pattern="^[7-9][0-9]{9}$"></td>
        </tr>
        <tr>
        <tr>
            <td>Email-Id</td>
            <td>
                <input type="email" name="emailId" #emailId="ngModel" ngModel required
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.(com|co\.in|in|edu)">
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" #password="ngModel" minlength="8" ngModel required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&^])[A-Za-z\d@$!%?&^]{8,}$"></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="password1" #password1="ngModel" minlength="8" ngModel required></td>
        </tr>
        <tr>
            <td>
                <button [disabled]="!registerForm.valid">Register</button> Already have an Account? <a href="">Login</a>
            </td>
        </tr>
    </table>

    <br />
    <div style="color: red;" align="center">
        <div *ngIf="emailId.errors?.['required']   && emailId.touched">Please provide the Email-Id</div>
        <div *ngIf="password.errors?.['required']  && password.touched">Please provide the Password</div>
        <div *ngIf="emailId.errors?.['pattern']    && emailId.touched">Please provide a valid Email-Id</div>
        <div *ngIf="emailId.errors?.['minlength']  && emailId.touched">Please provide atleast 2 characters for Email-Id</div>
        <div *ngIf="password.errors?.['minlength'] && password.touched">Please provide at least 8 characters forPassword</div>
        <div *ngIf="password.errors?.['pattern']   && password.touched">Password must contain at least one uppercaseletter, one lowercase letter, one numeric digit, and one special character (excluding '.') </div>
        <div *ngIf="mobile.errors?.['minlength']   && mobile.touched">Please provide atleast 10 characters for MobileNumber</div>
        <div *ngIf="!mobile.valid ">Please provide a valid Mobile Number</div>
        <div *ngIf="!(password.value === password1.value) && password.touched">The passwords Should match!</div>
    </div>
</form>
