<p>test2 works!</p>
Enter Id:<input type="text" name="id" [(ngModel)]="student.id"/><br/> 
<!--ngModel is used for two-way data binding -->
Enter Name:<input type="text" name="name" [(ngModel)]="student.name"/>
<button (click)="submit()">ClikMe</button>
<br/>
id:{{student.id}}<br/>
name:{{student.name}}<br/>
course:{{this.student.course}}<br/>
email:{{this.student.emailId}}<br/>
mobilenumber:{{this.student.mobilenumber}}<br/>

<h3>Address</h3>
streetno:{{this.student.address.streetNo}}

<h3>Hobbies</h3>
<ul>
    <li *ngFor="let hobby of student.hobbies">{{hobby}}</li>
</ul>
