.form-box {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top:  10px;;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .input-group {
    margin-bottom: 15px;
  }