<head>
  <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
  crossorigin="anonymous">
</head>
<div class="form-box">
  <h1 align="center">Login Form</h1>
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
    <table align="center">
      <tr>

        <td>
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" name="emailId"  #emailId="ngModel" ngModel required minlength="2" maxlength="30" />
          </div>
          <br/>
          </td>
      </tr>
      <tr>

        <td>
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" name="password" #password="ngModel" ngModel required minlength="2" maxlength="10"/>
          </div>
          <br/>
      </td>
      </tr>
      <tr>
        
        <td>
          <button [disabled]="!loginForm.valid" class="btn btn-primary">
            Login
          </button>
          New User? <a href="">Register</a>
        </td>
      </tr>
    </table>
  </form>
</div>

<br /><br />

<div align="center" style="color: red">
  <div *ngIf="emailId.errors?.['required'] && emailId.touched ">
    please provide Email-Id
  </div>
  <div *ngIf="password.errors?.['required'] && password.touched ">
    please provide password
  </div>

  <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">
    EmailId should be min 8 character
  </div>
  <div *ngIf="password.errors?.['minlength'] && password.touched">
    Password should be min 2 character
  </div>

  <div *ngIf="emailId.errors?.['pattern'] && emailId.touched">
    Please provide a valid emailId
  </div>
  <div *ngIf="password.errors?.['pattern'] && password.touched">
    Password must contain one uppercase,one lowercase,one special character and
    number but not (.)
  </div>
</div>
